 *{  
	  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298); 
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}


#header {
  text-align: center;
  padding: 20px;
  background-color: #fff; 
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
}
.main-btn {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #00c9a7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin: 10px;
}

.main-btn:hover {
  background-color: #00b49c;
  transform: scale(1.05);
}


#gameArea {
  width: 600px;
  height: 400px;
  background: #f0f0f0;
  position: relative;
  overflow: hidden;
  border: 2px solid #333;
  margin-top: 20px;
}

#ball, #ball2 {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  left: 290px;
}

#ball2 {
  background: blue;
}

#paddle { /* المستطيل */
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  bottom: 0;
  left: 250px;
}
#score {
  margin-top: 20px;
  font-size: 24px;
}
